 
html {
    font-size: 16px;
    font-family: "Mina", Sans-serif;
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
.container {
    max-width: 960px;
    padding-top: 25px;
    overflow-y: auto;
}

.pricing-header {
max-width: 700px;
}

.card-deck .card {
min-width: 220px;
}

.div_margin_b {
margin-bottom: 35px !important;
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.1); }

.transparent_card {
    background:rgba(255, 255, 255, 0.28) !important
}

.card_basic {
    text-align: center;
}

.no_bg {
    background-color: rgba(0,0,0,0);
    border: none !important;
}

.title {
    color: #FFFFFF !important;
    font-family: "Mina", Sans-serif !important;
    font-size: 50px !important;
    font-weight: 700 !important;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76) !important;
}


.timer {
    text-align: center;
    color: #FFFFFF;
    font-family: "Mina", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
  }
  
.sign_in {
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.sign_in_Button {
    width: 100%;
}

.sign_in button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#map {
    height: 400px;
    width: 100%;
  }